body {
    background-image: url('rd.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Poppins;
}
a {
    text-decoration: none;
    color: inherit;
}

a:hover, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}

.renter-sales-data-child {
    position: absolute;
    top: 271px;
    left: 22px;
    border-radius: 26px;
    background-color: #f6f6f6;
    width: 286px;
    height: 52px;
}
.renter-sales-data-item {
    position: absolute;
    top: 24px;
    left: 261px;
    border-radius: 45px;
    background-color: #f6f6f6;
    width: 995px;
    height: 752px;
}
.sales-data {
    position: absolute;
    top: 48px;
    left: 289px;
    font-size: 40px;
    font-weight: 500;
    color: #303030;
    text-align: center;
    display: inline-block;
    width: 940px;
    height: 49px;
    text-shadow: 1px 0 0 #303030, 0 1px 0 #303030, -1px 0 0 #303030, 0 -1px 0 #303030;
}
.sales-data1 {
    position: absolute;
    top: 284px;
    left: 82px;
    display: inline-block;
    width: 100px;
    height: 25px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.rent-payment-log {
    position: absolute;
    top: 459px;
    left: 82px;
    display: inline-block;
    width: 189px;
    height: 25px;
    text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.25);
}
.settings {
    position: absolute;
    top: 537px;
    left: 88px;
    display: inline-block;
    width: 189px;
    height: 25px;
    text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.25);
}
.home {
    position: absolute;
    top: 190px;
    left: 83px;
    display: inline-block;
    width: 74px;
    height: 27px;
    text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.25);
}
.icon {
    position: absolute;
    top: 189px;
    left: 39px;
    width: 29px;
    height: 29px;
    object-fit: cover;
}
.icon1 {
    position: absolute;
    top: 281px;
    left: 39px;
    width: 28px;
    height: 28px;
    object-fit: cover;
}
.icon2 {
    position: absolute;
    top: 456px;
    left: 38px;
    width: 31px;
    height: 31px;
    object-fit: cover;
}
.icon3 {
    position: absolute;
    top: 537px;
    left: 41px;
    width: 25px;
    height: 25px;
    object-fit: cover;
}
.manage-inventory {
    position: absolute;
    top: 358px;
    left: 85px;
    display: inline-block;
    width: 140px;
    height: 50px;
    text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.25);
}
.icon4 {
    position: absolute;
    top: 369px;
    left: 41px;
    width: 31px;
    height: 31px;
    object-fit: cover;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 22px;
    background-color: #303030;
    width: 401px;
    height: 164px;
}
.balance {
    position: absolute;
    top: 16px;
    left: 26px;
    font-weight: 600;
    display: inline-block;
    width: 160px;
    height: 47px;
    text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.4);
}
.div {
    position: absolute;
    top: 66px;
    left: 26px;
    font-size: 58px;
    font-weight: 800;
    color: #fff;
    display: inline-block;
    width: 329px;
    height: 76px;
}
.rectangle-parent {
    position: absolute;
    top: 140px;
    left: 308px;
    box-shadow: -2px 2px 0px rgba(0, 0, 0, 0.25);
    width: 401px;
    height: 164px;
    font-size: 36px;
    color: #ffcb74;
}
.group-item {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 22px;
    background-color: #303030;
    width: 270px;
    height: 29px;
}
.icon5 {
    position: absolute;
    top: 4.87px;
    left: 8.45px;
    width: 19.3px;
    height: 19.3px;
    object-fit: cover;
}
.rectangle-group {
    position: absolute;
    top: 281px;
    left: 934px;
    width: 270px;
    height: 29px;
}
.icon6 {
    position: absolute;
    top: 47px;
    left: 1164px;
    width: 62px;
    height: 62px;
    object-fit: cover;
}
.text {
    flex: 1;
    position: relative;
    line-height: 130%;
    font-weight: 600;
}
.content {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 12px;
}
.cell {
    align-self: stretch;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.06);
    border-top: 1px solid #b9b9b9;
    border-left: 1px solid #b9b9b9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.row {
    align-self: stretch;
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
    font-family: Poppins;
}
.text5 {
    flex: 1;
    position: relative;
    line-height: 130%;
}
.cell5 {
    align-self: stretch;
    flex: 1;
    background-color: rgba(255, 255, 255, 0);
    border-top: 1px solid #b9b9b9;
    border-left: 1px solid #b9b9b9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.row1 {
    align-self: stretch;
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.table {
    position: absolute;
    top: 318px;
    left: 316px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #b9b9b9;
    box-sizing: border-box;
    width: 884px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 12px;
    color: #000;
    font-family: Inter;
}
.duh-trends-palas {
    position: absolute;
    top: 70px;
    left: 51px;
    font-size: 24px;
    display: inline-block;
    text-align: center;
    width: 160px;
    height: 66px;
    text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.25);
}
.renter-sales-data {
    width: 100%;
    position: relative;
    height: 800px;
    overflow: hidden;
    text-align: left;
    font-size: 18px;
    color: #fff;
    font-family: Poppins;
}

